<div {{bind-attr class="transaction.isIncome:income:outcome"}}>
  {{transaction.description}} {{transaction.price}} {{#link-to 'transaction.edit' content}}<button title="edit">Edit</button>{{/link-to}}
</div>