<h1>Transactions...</h1>
<div>
  {{#link-to 'transactions.create'}}<button title="new">New</button>{{/link-to}}
</div>
{{log '!!!!index template'}}


{{#each transaction in controller}}
  {{render "transaction" transaction}}
{{/each}}